.stories {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.3);
  border-radius: 0.3rem;
  padding: 6rem;
  padding-left: 9rem;
  transform: skewX(-12deg);
  transition: all 800ms;
  @include respond(tab-port) {
    width: 100%;
    padding: 3rem;
    padding-left: 7rem;
  }
  @include respond(phone) {
    transform: skewX(0);
  }
  @include clearfix;
  &__content {
    transform: skewX(12deg);
    @include respond(phone) {
      transform: skewX(0);
    }
  }
  &__shape {
    float: left;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: $color-primary;
    @supports (clip-path: circle(50% at 50% 50%)) or
      (-webkit-clip-path: circle(50% at 50% 50%)) {
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);

      border-radius: none;
    }
    transform: translate(-3rem);
    position: relative;
    &-caption {
      // STYLEING
      position: absolute;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.7rem;
      // HOVERING
      backface-visibility: hidden;
      transition: all 500ms;
      opacity: 0;
      top: 50%;
      left: 50%;
      color: $color-white;
      transform: translate(-50%, 20%);
    }
  }
  &__image {
    object-fit: cover;
    transition: all 500ms;
    transform: scale(1.5) translateX(-2.5rem);
    backface-visibility: hidden;
    height: 100%;
  }
  &:hover &__image {
    filter: blur(3px) brightness(80%);
    transform: scale(1) translateX(-4rem);
  }
  &:hover &__shape-caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
